body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
  }
  
  header {
    flex: 0 80px;
    background-color: silver;
    border-radius: 5px;
    padding: 20px;
    height: 200px;
    font-family: "Didot", serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      text-align: center;
    }
    menu {
      display: flex;
      div{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        a{
          border-radius: 5px;
          background-color:rgb(225, 200, 250);
          color:rgb(49, 22, 53);
          padding: 0em 1.5em;
          text-decoration: none;
        }
        a:hover {
          background-color: #c5c1f0;
        }
        
        a:active {
          background-color: rgb(196, 166, 243);
        }

      }
    }
  }

  
  main {
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  
  
  
  footer {
    flex: 0 30px;
    background-color: rgb(212, 196, 218);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    border-radius: 5px;
    padding: 20px;
    text-align: justify;
    display: inline-block;
    justify-content: space-between;
    flex: 0 0 auto;
    
  }
  
  menu {
    flex: 1;
    display: flex;
    /*  overwrite Bootstrap so the menu does not wrap */
    flex-direction: row !important;
    list-style: none;
  }
  