body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
  }
  
  header {
    flex: 0 80px;
    background-color: silver;
    border-radius: 5px;
    padding: 20px;
    height: 200px;
    text-align: center;
    justify-content: center;
    font-family: "Didot", serif;
    menu {
      justify-content: left;
        div{
          font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding: 0 0.5em;
        flex-direction: row;
        text-align: center;
        background-color: rgb(149, 102, 161);
        border-radius: 5px;
        padding: 20px;
        }
    }
  }

  
  main {
    background-color: aliceblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    form {
      margin:15px;
      display: flex;
      flex-direction: column;
    }
    input {
      margin-bottom:20px;
      padding:10px;
      border-radius: 10px;
      box-shadow: 0 0 15px 4px rgb(182, 182, 182);
      flex-direction: column;
    }
  }
  
  
  
  footer {
    flex: 0 30px;
    background-color: rgb(129, 90, 129);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    justify-items: left;
    border-radius: 5px;
    padding: 20px;
    text-align: justify;
    display: inline-block;
    flex: 0 0 auto;
    
  }
  
  menu {
    flex: 1;
    display: flex;
    flex-direction: row !important;
    list-style: none;
  }
  
  @media (max-height: 600px) {
    header {
      display: none;
    }
    footer {
      display: none;
    }
    main {
      flex: 1 100vh;
    }
  }
  