body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
    background-color: aliceblue;
    margin:0;
  }

  header {
    flex: 0 80px;
    background-color: silver;
    border-radius: 5px;
    padding: 20px;
    height: 200px;
    font-family: "Didot", serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      text-align: center;
    }
    menu {
      display: flex;
      div{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        a{
          border-radius: 5px;
          background-color:rgb(176, 166, 187);
          color:rgb(22, 12, 24);
          padding: 0em 1.5em;
          text-decoration: none;
        }
        a:hover {
          background-color: #9c94e4;
          color:rgb(22, 12, 24);
        }
        
        a:active {
          background-color: rgb(196, 166, 243);
        }
      }
    }
    p {
      border: solid;
      border-color:rgb(136, 68, 146);
      border-width: 2px;
      border-style:dotted;
    }
  }

  .notify {
    padding-left: 30px;
    display: flex;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: space-between;
    align-items: center;
      background-color: aliceblue;
      .click-me {
        display:block;
        background: #dde1e7;
        box-shadow: -3px -3px 7px #fffdfdcc,3px 3px 5px rgba(94, 104, 121, 0.342);
        text-align:center;
        font-size:22px;
        line-height:50px;
        cursor:pointer;
      }
      #click{
        display: none;
      }
      .click-me:hover {
        color:rgb(49, 22, 53);
      }
      .content{
        visibility:hidden;  
        width: 330px;
        height: auto;
        background: #dde1e7;
        padding: 30px 35px 40px;
        box-sizing: border-box;
        border-radius: 5px;
        max-height: 300px; /* Set your desired max height */
        overflow-y: auto; /* Add a scrollbar when content overflows */
      }
      #click:checked~.content{
        opacity:1;
        visibility:visible;
      }
      .box{
          margin-left: auto;
          display:flex;
          flex-direction: column;       
          .note{
            background: rgb(218, 208, 208); 
            border-style: solid;
            border-width: 2px;
            border-color:rgb(14, 126, 126);
            border-radius: 50px;
          } 
          width:fit-content;
          text-align: center;
          font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
          padding: 10px;
          /* border-style: solid;
            border-width: 2px;
            border-color:rgb(14, 126, 126);
            border-radius: 10px;
            padding: 10px;
            background: linear-gradient(to right, rgb(175, 192, 207), #f1cbfa);  */
        }
    }
    
  main {

    button{
      border-radius: 10px;
      div{
        border-radius: 5px;
        background-color:rgb(201, 175, 226);
        color:rgb(39, 16, 43);
        text-decoration: none;
        padding:10px;
      }
      div:hover {
        background-color: #c5cdf0;
      }

    }
    padding: 20px;
    background-color: aliceblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    h1{
        flex: 1 calc(100vh - 110px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .favoritize button{
      border-radius: 5px;
      background-color:rgb(201, 175, 226);
      color:rgb(39, 16, 43);
      text-decoration: none;
      padding:10px;
    }
    .favoritize button:hover {
      background-color: #c5cdf0;
    }

    .apiEvents {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      p{
        border-radius: 5px;
        background-color:rgb(201, 175, 226);
        color:rgb(39, 16, 43);
        text-decoration: none;
        padding:10px;
      }
      p:hover {
        background-color: #c5cdf0;
      }
    }
  }
  
  
  
  footer {
    flex: 0 30px;
    background-color: rgb(212, 196, 218);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    border-radius: 5px;
    padding: 20px;
    text-align: justify;
    display: inline-block;
    justify-content: space-between;
    flex: 0 0 auto;
    a{
      border-radius: 5px;
      background-color:rgb(198, 167, 230);
      color:rgb(49, 22, 53);
      padding: 0em 1.5em;
      text-decoration: none;
    }
    a:hover {
      background-color: #b5b0ec;
    }
    
    a:active {
      background-color: rgb(196, 166, 243);
    }
    
  }
  
  menu {
    flex: 1;
    display: flex;
    flex-direction: row;
    list-style: none;
  }
  